[Unit]
Description="Matrix Identity Server (sydent)"

[Service]
ExecStart=/bin/bash -c "{{matrix_sydent_home}}/env/bin/python -m sydent.sydent"
WorkingDirectory={{matrix_sydent_home}}
User=sydent
Group=sydent
Restart=always
StandardOut=syslog
SyslogIdentifier=matrix-sydent
SyslogFacility=local3

[Install]
WantedBy=default.target

